@import "tailwindcss";

:root {
    --background: #eae0c8;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-sidebar: #d9e7f5;
    --color-console: #c8d8ea;
    --color-log-odd: #eac8d8;
    --color-log-even: #d8eac8;

    --font-weight-normal: 700;
    --font-weight-bold: 800;
}
@layer base {
    body {
        font-weight: var(--font-weight-normal);
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}
