@import "tailwindcss";

:root {
    --background: #eae0c8;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
    --color-sidebar: #d9e7f5;
    --color-console: #c8d8ea;
    --color-log-odd: #eac8d8;
    --color-log-even: #d8eac8;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
